# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dailybread
POSTGRES_USER=dailybread
POSTGRES_PASSWORD=your-password

# Prisma
DATABASE_URL=postgresql://dailybread:your-password@localhost:5432/dailybread?schema=public

# Frontend
ADMIN_APP_URL=http://localhost:3002